<html>
    <head>
        <title>MY PORTFOLIO</title>
    <link rel="stylesheet" href="PortSecond.css">
    </head>
    <body>
        <div class="deco">
            <div class="plain">
                <p>  </p>
            </div>
            <div class="plain2">
                <p>  </p>
            </div>
            <div class="plain3">
                <p>   </p>
            </div>
        </div>
        
        <div class="intro">
            <h1>HEY! I'M PRIMA !!</h1>
            <H2>WELCOME TO MY PORTFOLIO !!</H2>
        </div>
        
       
        <div class="nav">
            <nav>
                <a href="PortSecond.html">HOME</a>
                <a href="PortAbout.html">ABOUT</a>
                <a href="contact.html">CONTACT</a>
            </nav>
        </div>

        <nav class="my">
            <ul>
                <li><a href="#pro">PROJECTS</a></li>
                <li><a href="#quali">QUALIFICATION</a></li>
                <li><a href="#skill">SKILLS</a></li>
                <li><a href="#goal">GOALS</a></li>

            </ul>
        </nav>

        <img src="pexels9.webp" alt="book" class="image">


        
        
        
        <div class="content2">
            <div id="pro">
                <h3>PROJECT</h3>
                <P><h4>ANIMAL HUB -</h4> A software applicatinn made to help the helpless animals who are injured and are sick due to any  disease.</P>
            </div>
            <div id="quali">
                <h3>QUALIFICATION</h3>
                <p>I have completed my Diploma from Parul University.I'm currentlypursuing  my Bachelors.</p>
            </div>
            <div id="skill">
                <h3>TECHNICAL SKILLS</h3>
                <p>Programming languages : Java,Python,C.</p>
                <h3>SOFT SKILLS</h3>
                <p>Communication</p>
            </div>
            <div id="goal">
                <h3>FUTURE LEARNING GOALS</h3>
                <p>Curuios to know more about web development.</p>
            </div>
        </div>
        
    </body>
</html> 







        <!-- <div class="row">
            <div class="column">
                <h3>PROJECTS</h3>
                <p>ANIMAL HUB - A software applicatinn made to help the helpless animals who are injured and are sick due to any  disease.</p>
            </div>
            <div class="column">
                <h3>QUALIFICATION</h3>
                <p>I have completed my Diploma from Parul University.I'm currentlypursuing  my Bachelors.</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h3>TECHNICAL SKILLS</h3>
                <p>Programming languages : Java,Python,C.</p>
                <h3>SOFT SKILLS</h3>
                <p>Communication</p>
            </div>
            <div class="column">
                <h3>FUTURE LEARNING GOALS</h3>
                <p>Curuios to know more about web development.</p>
            </div>
        </div> -->
        
        
  
        <!-- <footer>
           <a href="contact.html">CONTACT ME</a>
        </footer>   // old code for adding footer at the bottom of the page
      -->
    